@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  background: #252525;
  padding: 0 1rem;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Pattaya', sans-serif; }

.ImageGenerator .title {
  text-align: center;
  color: whitesmoke;
  height: auto;
  min-height: 5rem;
  font-size: 4rem;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 1vh; }

.ImageGenerator .ImageHolder {
  width: 100%;
  height: calc(100vh - 12rem);
  position: relative;
  margin-bottom: 1vh; }
  @media screen and (max-width: 650px) {
    .ImageGenerator .ImageHolder {
      height: calc(80vh - 12rem); } }
  .ImageGenerator .ImageHolder img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 12rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 650px) {
      .ImageGenerator .ImageHolder img {
        max-height: calc(80vh - 12rem); } }

.ImageGenerator .Actions {
  height: auto;
  background: #3f3f3f;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem; }
  .ImageGenerator .Actions > *:not(.filler) {
    flex: 3;
    font-size: 1.3rem;
    min-height: 3rem; }
  .ImageGenerator .Actions #newImage {
    flex: 1; }
  .ImageGenerator .Actions .filler {
    width: 1rem; }
    @media screen and (max-width: 650px) {
      .ImageGenerator .Actions .filler {
        width: 100%;
        height: 1rem; } }
  .ImageGenerator .Actions .emailInput {
    display: flex;
    flex-wrap: wrap; }
    .ImageGenerator .Actions .emailInput > * {
      flex: 4;
      font-size: 1.3rem; }
    .ImageGenerator .Actions .emailInput input {
      padding-left: 1rem;
      outline: none;
      border: none;
      transition: box-shadow 300ms;
      border: 1px solid grey;
      border-right: none; }
      .ImageGenerator .Actions .emailInput input:focus {
        box-shadow: 0px 0px 5px 0px #8bff87; }
    .ImageGenerator .Actions .emailInput button {
      flex: 1; }
  .ImageGenerator .Actions button {
    transition: background-color 200ms;
    background: #cccccc;
    border: 1px solid grey;
    outline: none; }
    .ImageGenerator .Actions button:hover {
      cursor: pointer;
      background: #b3b3b3; }

.EmailBuckets {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #3f3f3f;
  color: whitesmoke; }
  .EmailBuckets h2 {
    font-size: 2rem;
    text-align: center; }
  .EmailBuckets > p {
    text-align: center; }
  .EmailBuckets .imageHolderHolder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 0;
    overflow: hidden; }
    .EmailBuckets .imageHolderHolder > img {
      flex: 1;
      width: 33%; }
  .EmailBuckets .imgHHTrans {
    transition: height 500ms; }
  .EmailBuckets div[id^='emailBox'] h3 {
    text-align: center;
    font-size: 1.4rem; }
  .EmailBuckets div[id^='emailBox'] .ImageHolder {
    width: 33%;
    padding: 1rem; }
    @media screen and (max-width: 850px) {
      .EmailBuckets div[id^='emailBox'] .ImageHolder {
        width: 50%; } }
    @media screen and (max-width: 450px) {
      .EmailBuckets div[id^='emailBox'] .ImageHolder {
        width: 100%; } }
    .EmailBuckets div[id^='emailBox'] .ImageHolder img {
      max-width: 100%; }
  .EmailBuckets div[id^='emailBox'] .header {
    position: relative; }
    .EmailBuckets div[id^='emailBox'] .header .icons {
      z-index: 10;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      text-align: right;
      color: grey; }
      .EmailBuckets div[id^='emailBox'] .header .icons:hover {
        cursor: pointer; }
      .EmailBuckets div[id^='emailBox'] .header .icons .fa-chevron-down {
        display: inline; }
      .EmailBuckets div[id^='emailBox'] .header .icons .fa-chevron-up {
        display: none; }
  .EmailBuckets .expanded .imageHolderHolder {
    height: auto; }
  .EmailBuckets .expanded .header .icons .fa-chevron-down {
    display: none !important; }
  .EmailBuckets .expanded .header .icons .fa-chevron-up {
    display: inline !important; }
